*{
  margin: 0;
}

.App{
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
  padding-top: 15%;
  padding-bottom: 5%;
}